__pycache__/
*.pyc
.pytest_cache/

checkpoint/
checkpoints/
logs/
outputs/
validation_log/
wandb/
swanlab_log/
results/

datasets/
!datasets/
datasets/*
!datasets/eval/
!datasets/eval/*.parquet
model/
models/
temp_files/

!verl/verl/models/
!verl/verl/models/**
!verl/verl/utils/checkpoint/
!verl/verl/utils/checkpoint/**
!verl/verl/trainer/
!verl/verl/trainer/config/
!verl/verl/trainer/config/model/
!verl/verl/trainer/config/model/hf_model.yaml
